inspirenode.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/inspirenode/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="inspirenode" targetNamespace="http://www.example.org/inspirenode/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/inspirenode/">
      <xsd:element name="ListeTaches">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ListeTachesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ListeTachesFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ListeTachesFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ListeTachesRequest">
    <wsdl:part element="tns:ListeTaches" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ListeTachesResponse">
    <wsdl:part element="tns:ListeTachesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ListeTachesFault">
  	<wsdl:part name="parameters" element="tns:ListeTachesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="listes">
    <wsdl:operation name="ListeTaches">
      <wsdl:documentation>Liste les taches avec tous les données qui lui sont liées
      </wsdl:documentation>
      <wsdl:input message="tns:ListeTachesRequest"/>
      <wsdl:output message="tns:ListeTachesResponse"/>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="inspirenodeSOAP" type="tns:listes">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="ListeTaches">
  		<soap:operation
  			soapAction="http://192.168.1.10:8000/inspirenode/ListeTaches" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="inspirenode">
    <wsdl:port binding="tns:inspirenodeSOAP" name="inspirenodeSOAP">
      <soap:address location="http://192.168.1.10:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
